@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;700&display=swap');



.Conteiner__Certificados{
    display: flex;
    height: 600px;
    background-color:'#0A0909';
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

@media screen and (max-width: 1920px) {

    .Conteiner__Certificados{
        display: flex;
        height: 800px;
        background-color:'#0A0909';
    }
    .Conteiner__Projetos{
        display: flex;
        height: 600px;
    
    }
    .Conteiner__TituloProjetos{
        display: flex;
        flex-direction: column;
        margin: 15px 45px;
    }
    .Titulo__Principal--Projetos{
        color: aliceblue;
    }
    .Descricao__Principal--Projetos{
        color: aliceblue;
    }
    .swiper {
        width: 600px;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
      }

}